[MASTER]
ignore=venv,.env,dev
jobs=1

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0801,  # duplicate-code
    C0209,  # consider-using-f-string

[FORMAT]
max-line-length=100
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,pk,id
bad-names=foo,bar,baz,todo

[DESIGN]
max-args=10
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10

[TYPECHECK]
generated-members=numpy.*,torch.*

[REPORTS]
output-format=colorized
reports=no

[IMPORTS]


[LOGGING]
logging-modules=logging

[SIMILARITIES]
min-similarity-lines=10

[VARIABLES]
additional-builtins=

[EXCEPTIONS]
overgeneral-exceptions=Exception

[REFACTORING]
max-nested-blocks=5
